:root {
  --citd-green:      #59CB8F;
  --fire-red:        #C02F2F;

  --light-blue:      #37D7FF;

  --charcoal:        #272727; /* heading color */
  --tin:             #e7e7e7; /* subheading color */
  --ink:             #4a4747; /* body text color */
  --light-ink:       #949292; /* light text color */
}

// Type

$system-font: -apple-system, BlinkMacSystemFont,"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

$font-header: 'Oswald', $system-font;
$font-body: 'Source Sans Pro', $system-font;

$ms:    1.2;

$modularscale: (
  base: 1rem,
  ratio: 1.2,
  fluid: false,
  20em: (
    ratio: 1.1
  ),
  30em: (
    ratio: 1.125
  ),
  40em: (
    ratio: 1.15
  ),
  50em: (
    ratio: 1.175
  ),
  60em: (
    ratio: 1.2
  ),
);

