:root {
  --citd-green:      #59CB8F;
  --fire-red:        #C02F2F;

  --charcoal:        #272727; /* heading color */
  --tin:             #83807D; /* subheading color */
  --ink:             #4a4747; /* body text color */
  --light-ink:       #89949E; /* light text color */
}

$pad:   8px;
$ms:    1.2;

$modularscale: (
  base: 1rem,
  ratio: 1.2,
  fluid: false,
  20em: (
    ratio: 1.1
  ),
  30em: (
    ratio: 1.125
  ),
  40em: (
    ratio: 1.15
  ),
  50em: (
    ratio: 1.175
  ),
  60em: (
    ratio: 1.2
  ),
);
