meta(charset='utf-8')
title= title 
meta(name='viewport' content='width=device-width')
meta(name='author' content='Samantha Rose Cruz')
meta(name='description' content="ManilaCSS")
meta(property="og:site_name" content="Samantha Rose Cruz | Product Designer and Developer")
meta(property="og:url" content="http://www.manilacss.com")
meta(property="og:description" content="")
meta(property="og:type" content="website")
meta(property="og:locale" content="en_US")
meta(property="og:image"  content="images/cover.jpg")

link(rel='icon' href='images/favicon.ico' type="image/x-icon")
