svg(style="display: block; width: 0; height: 0;")
  defs
    lineargradient#yellow-orange(x1='50%', y1='0%', x2='50%', y2='91.3637084%')
      stop(stop-color='#FFD950', offset='0%')
      stop(stop-color='#FF1482', offset='100%')

    lineargradient#blue-purple(x0='50%', y1='0%', x2='50%', y2='97.6801658%')
      stop(stop-color='#34DCFF', offset='0%')
      stop(stop-color='#714CFF', offset='100%')

  symbol(id='blue-o-large' viewbox='0 0 407 407')
    g(stroke='none', stroke-width='0', fill='none', fill-rule='evenodd')
      path(d='M202.5,407 C91.1100534,407 0,315.889947 0,203.5 C0,91.1100534 91.1100534,0 203.5,0 C315.889947,0 407,91.1100534 407,203.5 C407,315.889947 315.889947,407 203.5,407 Z M203,312 C263.199038,312 312,263.199038 312,203 C312,142.800962 263.199038,94 203,94 C142.800962,94 94,142.800962 94,203 C94,263.199038 142.800962,312 203,312 Z', fill='url(#blue-purple)', fill-rule='nonzero')

  symbol(id='blue-o-small' viewbox='0 0 261 261')
    g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
      path(d='M130.5,261 C58.4268401,261 0,202.57316 0,130.5 C0,58.4268401 58.4268401,0 130.5,0 C202.57316,0 261,58.4268401 261,130.5 C261,202.57316 202.57316,261 130.5,261 Z M130.5,184 C160.047234,184 184,160.047234 184,130.5 C184,100.952766 160.047234,77 130.5,77 C100.952766,77 77,100.952766 77,130.5 C77,160.047234 100.952766,184 130.5,184 Z', fill='url(#blue-purple)', fill-rule='nonzero')

  symbol(id='yellow-o' viewbox='0 0 230 230')
    g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
      path(d='M115,230 C51.4872538,230 0,178.512746 0,115 C0,51.4872538 51.4872538,0 115,0 C178.512746,0 230,51.4872538 230,115 C230,178.512746 178.512746,230 115,230 Z M115,176.705669 C149.0791,176.705669 176.705669,149.0791 176.705669,115 C176.705669,80.9208998 149.0791,53.2943306 115,53.2943306 C80.9208998,53.2943306 53.2943306,80.9208998 53.2943306,115 C53.2943306,149.0791 80.9208998,176.705669 115,176.705669 Z', fill='url(#yellow-orange)', fill-rule='nonzero')
